/* Temas del segundo período*/

.texto{
   
    font-size: 40px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(244, 237, 237);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondo2.jpg");
   

}
.titulo{
font-size: 60px;
color: rgb(255, 255, 255);
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.img1{
    height: 193px;
    width: 300px;
    background-image: url("img1.jpg");
    background-repeat: no-repeat;
    float: right;
}

.img4{
    height: 193px;
    width: 300px;
    background-image: url("img4.jpg");
    background-repeat: no-repeat;
    float: right;
}

.img6{
    height: 193px;
    width: 300px;
    background-image: url("img6.jpg");
    background-repeat: no-repeat;
    float: right;
}

.img5{
    height: 193px;
    width: 300px;
    background-image: url("img5.jpg");
    background-repeat: no-repeat;
    float: right;
}

.mapamental{
    height: 193px;
    width: 300px;
    background-image: url("mapamental.png");
    background-repeat: no-repeat;
    float: right;
}

