.contenedor{

width: 100;
height: 1200px;
background-color: aqua;
display: flex;
flex-direction: column;

}

.encabezador{
width: 100;
height: 200px;
background-color: blueviolet;
font-size: 50px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: center;
}
.sociales{
width: 100;
height: 400px;
background-color: rgb(211, 49, 157);
}
.ingles{
width: 100;
height: 400px;
background-color: rgb(18, 219, 226);
}
.tecnologia{
    width: 100;
    height: 400px;
    background-color: rgb(13, 233, 159);
    }
